.container {
	height: 100vh;
	background-color: var(--glass-opaque);
	display: flex;
}

.folders {
	width: 18rem;
	height: 100%;
}

.content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--bg);
	transition: left calc(var(--transition) * 2);
	transition-timing-function: ease-out;
}

.open .content {
	left: 18rem;
	border-left: 1px solid var(--divider);
}
