.container {
	display: grid;
	row-gap: 0.25rem;
	position: relative;
	grid-template-rows: max-content 1fr;
	height: calc(100vh - 50px - 0.25rem);

	transition: opacity var(--transition);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.date {
	padding: 0.5rem 0;
	color: var(--subtitle);
	text-align: center;
	opacity: 0.75;
	font-size: 12px;
	font-weight: 400;
	pointer-events: none;
	user-select: none;
}

.editor {
	padding: 0 1rem 4rem;
	font-family: Inter;
	font-size: 0.875rem;
	overflow: auto;
	overscroll-behavior: contain;
	outline: none;
}

.visible {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
