.container {
	background-image: var(--glass);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(0.5rem);
	width: max-content;
	min-height: 3rem;
	max-width: max(25vw, 12.5rem);
	max-height: 50vh;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	border: 0.063rem solid var(--divider);
}
