.wrapper {
	flex-grow: 1;
	max-width: 13rem;
	position: relative;
}

.search {
	display: flex;
	align-items: center;
	grid-template-columns: max-content 1fr;
	height: 1.25rem;
	padding: 0.125rem 0.25rem;
	column-gap: 0.25rem;
	border-radius: 0.375rem;
	border: 1px solid var(--divider);
	margin: 1px;
}

.visible,
.search:focus-within {
	border: 2px solid var(--primary-1);
	margin: 0;
}

.tag {
	border: none;
	outline: none;
	background-color: var(--divider);
	border-radius: 0.125rem;
	user-select: none;
}

.tag:focus,
.tag:active {
	background-color: var(--primary-1);
	color: var(--neutral-9);
}

.search svg {
	height: 1rem;
	width: 1rem;
	min-width: 1rem;
	min-height: 1rem;
	pointer-events: none;
	fill: var(--subtitle);
}

.search input {
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	border: none;
	outline: none;
	color: var(--text);
}

.search input::-webkit-input-placeholder {
	color: var(--subtitle);
}
