.visible {
	opacity: 1;
	transition: var(--transition);
	pointer-events: auto;
}

.title {
	color: var(--subtitle);
	opacity: 0.75;
	margin-left: 0.25rem;
	margin-bottom: 0.5rem;
	font-size: 12px;
	user-select: none;
}

.scrollbar {
	overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior: contain;
}

.suggestion {
	display: grid;
	align-items: center;
	justify-items: flex-start;
	grid-template-columns: max-content 1fr;
	column-gap: 0.5rem;
	padding: 0.25rem 0.5rem;

	border-radius: 0.25rem;
	background: none;
	border: none;
	outline: none;
	width: 100%;
}

.suggestion:hover,
.suggestion:focus {
	background-color: var(--accent);
}

.suggestion > svg {
	fill: var(--subtitle);
	height: 0.875rem;
	width: 0.875rem;
	min-height: 0.875rem;
	min-width: 0.875rem;
}

.suggestion:hover > svg,
.suggestion:focus > svg {
	fill: var(--neutral-9);
}

.suggestion > p {
	color: var(--text);
	font-size: 12px;
}

.suggestion:hover > p,
.suggestion:focus > p {
	color: var(--neutral-9);
}
