.left,
.right {
	height: 50px;
	display: flex;
	column-gap: 0.25rem;
	align-items: center;
	padding-bottom: 0.25rem;
}

.left {
	padding-left: 1rem;
	min-width: max-content;
}

.right {
	padding-right: 0.5rem;
	min-width: min-content;
}

.hStack {
	display: flex;
	column-gap: 0.25rem;
	overflow: hidden;
	max-height: 1.625rem;
	align-items: center;
	flex-wrap: wrap;
}

/* TODO: Handle smaller layouts. */
