.item {
	display: grid;
	height: 2.5rem;
	grid-template-columns: max-content 1fr;
	align-items: center;
	height: max-content;
	white-space: nowrap;
	border-style: none;
	padding: 0.25rem;
	padding-right: 0.5rem;
	gap: 0.5rem;
	border-radius: 0.25rem;
	background-color: transparent;
	color: var(--text);
	fill: currentColor;
	cursor: default;
	user-select: none;
	font-family: Inter;
	font-size: 14px;
}

.checkmark {
	--svg-size: 1rem;
	height: var(--svg-size);
	width: var(--svg-size);
	min-width: var(--svg-size);
	min-height: var(--svg-size);
	opacity: 0;
}

.item:hover {
	background-color: var(--accent);
	color: var(--neutral-9);
	fill: var(--neutral-9);
}

.item[aria-disabled="true"] {
	opacity: 0.5;
}

.list[data-focus-visible] {
	outline: none;
}

.selected .checkmark {
	opacity: 1;
	transition: opacity var(--transition);
}

.active:hover {
	filter: grayscale(100%) brightness(150%);
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: center;
}

.item:nth-child(1) {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	letter-spacing: -0.03em;
}

.item:nth-child(2) {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: -0.02em;
}

.item:nth-child(3) {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: -0.01em;
}

.item:nth-child(5) {
	font-family: monospace, monospace;
	letter-spacing: 0.03em;
}
