.separator {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: 1px;
	width: calc(100% - 1rem);
	background-color: var(--text);
	opacity: 0.125;
	box-shadow: none;
	border: none;
}

.menu {
	position: relative;
	z-index: 50;
	display: flex;
	max-height: var(--popover-available-height);
	min-width: 150px;
	flex-direction: column;
	overflow: auto;
	overscroll-behavior: contain;
	border-width: 1px;
	border-style: solid;
	color: var(--text);
	outline: none !important;
	max-width: max(
		var(--popover-available-width),
		calc(100% - calc(var(--popover-overflow-padding) * 2))
	);
	width: max-content;
	background-image: var(--glass);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(0.5rem);
	padding: 0.25rem;
	border-radius: 0.5rem;
	border-color: var(--divider);
}

.item {
	display: flex;
	cursor: default;
	scroll-margin: 0.5rem;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	outline: none !important;
	color: var(--text);
	font-size: 12px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: -0.015em;
}

.item[data-active-item] {
	background-color: var(--accent);
	color: var(--neutral-9);
}

.item[aria-disabled="true"] {
	opacity: 0.25;
}

.bar {
	display: flex;
	border-radius: 0.5rem;
	background-color: rgb(255 255 255);
	padding: 0.125rem;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.bar:not(:focus-within) > .item {
	background-color: transparent;
	color: inherit;
}

.bar > .item {
	height: 2.5rem;
	border-radius: 0.375rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.bar > .item:hover {
	background-color: hsl(204 100% 90%);
}

.item:active,
.item[data-active],
.bar > .item:active,
.bar > .item[data-active] {
	background-color: var(--accent);
}

.bar:focus-within > .item[data-active-item] {
	background-color: var(--accent);
	color: var(--neutral-9);
}

.bar:not(:focus) .item:not(:focus)[aria-expanded="true"],
.menu:not(:focus) .item:not(:focus)[aria-expanded="true"] {
	background-color: hsl(204 10% 10% / 0.1);
	color: currentColor;
}

.menu .item .label {
	flex: 1 1 0%;
	padding-right: 2rem;
}

/* @styled-jsx=scoped */

.button {
	z-index: 1;
	border-radius: 0.25rem;
	padding: 0.25rem 0.375rem;
	user-select: none;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(transition);
	height: fit-content;
	outline: none;
}

.button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.button:hover {
	background-color: var(--hover-bg);
}

.button:hover > svg {
	fill: var(--hover-icon);
}

.button > svg {
	height: 1.125rem;
	width: 1.125rem;
	fill: var(--icon);
}

.button > svg:nth-child(2) {
	height: 1rem;
	width: 1rem;
}
