/* Light (Default) */
:root {
	--bg: var(--neutral-10);
	--accent: var(--primary-1);
	--editor: var(--neutral-10);
	--view: var(--neutral-10);
	--toolbar: var(--neutral-10);
	--text: var(--neutral-3);
	--title: var(--neutral-2);
	--subtitle: var(--neutral-5);
	--icon: var(--neutral-5);
	--hover-bg: var(--neutral-9);
	--hover-icon: var(--neutral-3);
	--hover-bg-select: var(--neutral-8);
	--divider: var(--neutral-8);
	--glass: linear-gradient(
		115.93deg,
		rgba(233, 236, 239, 0.75) 0%,
		rgba(233, 236, 239, 0.8) 100%
	);
}

/* Light */
[data-theme="light"] {
	--bg: var(--neutral-10);
	--accent: var(--primary-1);
	--editor: var(--neutral-10);
	--toolbar: var(--neutral-10);
	--text: var(--neutral-3);
	--title: var(--neutral-2);
	--subtitle: var(--neutral-5);
	--icon: var(--neutral-5);
	--hover-bg: var(--neutral-9);
	--hover-icon: var(--neutral-3);
	--hover-bg-select: var(--neutral-8);
	--divider: var(--neutral-8);
	--glass: linear-gradient(
		115.93deg,
		rgba(233, 236, 239, 0.75) 0%,
		rgba(233, 236, 239, 0.8) 100%
	);
}

/* Dark */
[data-theme="dark"] {
	--bg: var(--neutral-2);
	--accent: var(--primary-1);
	--editor: var(--neutral-1);
	--toolbar: var(--neutral-2);
	--text: var(--neutral-8);
	--title: var(--neutral-9);
	--subtitle: var(--neutral-6);
	--icon: var(--neutral-6);
	--hover-bg: rgba(var(--neutral-3), 0.25);
	--hover-icon: var(--neutral-7);
	--hover-bg-select: var(--neutral-2);
	--divider: rgba(var(--neutral-3), 0.25);
	--glass: linear-gradient(
		157.32deg,
		rgba(35, 30, 41, 0.75) 44.12%,
		rgba(30, 30, 30, 0.8) 128.34%
	);
}
